
<form>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Selecione o Cliente</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Colaborador</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Data atendimento</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Horário atendimento</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Selecione os Produtos</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>




    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
     
    </mat-form-field></td>

    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Observação</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
     
    </mat-form-field></td>

    
  </tr>


</table>

  <button mat-button>Salvar</button>
</form>