
 <mat-card-title style=" margin: auto;
 color: #074b8a; margin-bottom:10px ; font-size:20px;"> Novo Atendimento </mat-card-title>
<mat-card class="bannerCadastro">

 
  <form>
    
      <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="cliente.firstName" name="nome"> 
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Segundo nome" [(ngModel)]="cliente.secondName" name="sobrenome"> 
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Documento" [(ngModel)]="cliente.document" name="documento"> 
      </mat-form-field>

      
      <mat-form-field>
          <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="cliente.mail" name="email"> 
        
      </mat-form-field>

     
<!-- 
      <mat-form-field>
       <input matInput [matDatepicker]="picker" placeholder="Data Nascimento" [(ngModel)]="cliente.bornDate" name="bornDate">
     
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>

      </mat-form-field> -->

          
      <mat-form-field>
          <input matInput placeholder="Data Nascimento" [(ngModel)]="cliente.bornDate" name="bornDate"> 
      </mat-form-field>
  
      <mat-form-field>
          <input matInput placeholder="DDD" [(ngModel)]="cliente.ddd" name="ddd"> 
      </mat-form-field>

      
      <mat-form-field>
          <input matInput placeholder="Telefone" [(ngModel)]="cliente.numberPhone" name="telefone" > 
      </mat-form-field>

    


  </form>



<button class="btnsalvar" mat-raised-button color="primary">Salvar</button>
<button class="btncancelar"  mat-raised-button>Cancelar</button>
</mat-card>

