<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">




<section class="cards-home"> 


 
  <mat-card class="cards-atendimento">
    <div class="ico-home">
      <img src="/assets/img/carrinho-de-compras.png" width="40px;" height="40px;">
    </div>
    <mat-card-title class="txt-cards" style="color: #074b8a;">Atendimentos Hoje</mat-card-title>
   
    <mat-card-content>
      <p>15</p>
    
    </mat-card-content>
  </mat-card>


<mat-card class="cards-money">
  <div class="ico-home">
    <img src="/assets/img/dinheiro.png" width="40px;" height="40px;">
  </div>
  <mat-card-title class="txt-cards" style="color: #074b8a"> Vendas Hoje</mat-card-title>
 
    
 
  <mat-card-content>
    <p>R$ 350,00</p>
  
  </mat-card-content>
 
</mat-card>


  <mat-card class="cards-cadastro">
    <div class="ico-home">
      <img src="/assets/img/rating.png" width="40px;" height="40px;">
    </div>
    <mat-card-title class="txt-cards" style="color: #074b8a"> Clientes Cadastrados </mat-card-title>
   
    <mat-card-content>
      <p>40</p>
    
    </mat-card-content>

  </mat-card>

  <mat-card class="cards-aniversario">
  
    <div class="ico-home">
      <img src="/assets/img/party.png" width="40px;" height="40px;">
    </div>
    <mat-card-title class="txt-cards" style="color: #074b8a">Aniversariantes do dia</mat-card-title>
   
    <mat-card-content>
      <p>4</p>
    
    </mat-card-content>

  </mat-card>


</section>

<div class="form-inicio">

<div class="titulo">
  <mat-card-title style=" margin: auto;
color: #074b8a; margin-bottom:10px ; font-size:30px;"> Atendimento </mat-card-title>
</div>

<div class="novo-cliente">
<button mat-raised-button (click)="navigateToClientCreate()" color="primary">
  Novo Cliente
  <i class="material-icons">

      add

  </i>

</button>
<!-- 
</div>
<div class="cliente-pesquisa-home">
<app-cliente-pesquisa></app-cliente-pesquisa>
</div> -->

  
    <div class="os-create">
    <app-os-create></app-os-create>
    </div>
  </div>
  
  <!-- <div class="cliente-pesquisa-home">
    <app-cliente-pesquisa></app-cliente-pesquisa>
   </div> -->

  <!-- <div class="os-read">
    <app-os-read></app-os-read>
  </div> -->



<!-- <app-cliente-qtd-dias-atendimento></app-cliente-qtd-dias-atendimento>
<app-cliente-aniversario></app-cliente-aniversario> -->

