table{
    
    width: 100%;
   
    font-family: sans-serif;
    font-size: 10px;
    justify-content: center;
    
}

/* .mat-elevation-z4{
    width: 40%;
    
    border-radius: 10px;
   
} */

.mat-header-cell{
    color: black;
    font-weight: 100;
    font-size: 15px;
    padding-left: 10px;
   
    
}




